@charset "UTF-8";

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "PlayBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PlayBold/PlayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayBold/PlayBold.woff") format("woff"), url("../fonts/PlayBold/PlayBold.ttf") format("truetype");
}

/*slick*/

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Slick/slick.eot");
  src: url("../fonts/Slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/Slick/slick.woff") format("woff"), url("../fonts/Slick/slick.ttf") format("truetype"), url("../fonts/Slick/slick.svg#slick") format("svg");
}

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/*END slick*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*------------overal page-content styles----------------------*/

.ukom-page {
  font-family: "RobotoRegular", sans-serif, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.ukom-page input[type="text"],
.ukom-page input[type="email"],
.ukom-page input[type="tel"],
.ukom-page textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ukom-page input {
  outline: none;
  display: block;
  width: 100%;
}

.ukom-page textarea {
  resize: none;
  padding: 0 0;
}

.ukom-page-content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 0;
  margin-left: 12px;
  margin-right: 12px;
}

.ukom-page-sidebar {
  padding-top: 70px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 383px;
  -ms-flex: 1 0 383px;
  flex: 1 0 383px;
  max-width: 383px;
  margin-left: 12px;
  margin-right: 12px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
}

.ucom-page-sect .ukom-form-wrapper {
  margin-bottom: 25px;
}

.ukom-h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 48px;
  font-family: "PlayBold", sans-serif;
  line-height: 116.66667%;
}

.ukom-h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 36px;
  font-family: "PlayBold", sans-serif;
  line-height: 116.66667%;
}

.ukom-h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 116.66667%;
  text-transform: uppercase;
  font-family: "PlayBold", sans-serif;
}

.ucom-content-block {
  margin: 40px 0;
}

.ukom-prgf {
  margin-top: 0;
  margin-bottom: 20px;
}

.ukom-prgf:last-child {
  margin-bottom: 0;
}

.ukom-invert-block {
  padding: 22px 23px 40px 44px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.ukom-invert-block .ukom-h2 {
  margin-bottom: 14px;
}

.ukom-invert-block .ukom-h3 {
  margin-bottom: 23px;
}

.button-wrapper {
  text-align: center;
}

.ukom-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 253px;
  padding: 0 15px;
  height: 61px;
  font-size: 18px;
  font-family: "PlayBold", sans-serif;
  line-height: 21px;
  border: none;
  color: #0B2C7C;
  text-decoration: none;
  background-color: #FFC000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease, color .3s ease;
  transition: background-color .1s ease, color .3s ease;
}

.ukom-btn-lg {
  max-width: 383px;
  font-size: 24px;
  line-height: 116.66667%;
}

.ukom-btn:hover {
  background-color: #ffc61a;
  color: #000;
}

.ukom-btn:active {
  background-color: #e6ad00;
  color: #000;
}

.ukom-btn-wht {
  background-color: #fff;
}

.ukom-btn-wht:hover {
  background-color: #0B2C7C;
  color: #fff;
}

.ukom-btn-wht:active {
  background-color: #e6ad00;
  color: #000;
}

.ukom-form .ukom-h3 {
  margin-top: 4px;
  margin-bottom: 30px;
}

.ukom-form__label {
  display: block;
  position: relative;
  margin-bottom: 23px;
}

.ukom-form__label:last-child {
  margin-bottom: 0;
}

.ukom-form__text-inp,
.ukom-form__false-file {
  display: block;
  width: 100%;
  height: 54px;
  padding: 0 16px 0 22px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 19px;
}

.ukom-form__text-inp::-webkit-input-placeholder,
.ukom-form__false-file::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.ukom-form__text-inp::-moz-placeholder,
.ukom-form__false-file::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.ukom-form__text-inp:-moz-placeholder,
.ukom-form__false-file:-moz-placeholder {
  color: #000;
  opacity: 1;
}

.ukom-form__text-inp:-ms-input-placeholder,
.ukom-form__false-file:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.ukom-form__text-inp[type="file"],
.ukom-form__false-file[type="file"] {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.ukom-form__text-inp:focus,
.ukom-form__false-file:focus {
  outline: none;
}

.ukom-form__false-file {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "RobotoRegular", sans-serif;
}

.ukom-form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -23px;
}

.ukom-form__col-2,
.ukom-form__col-3 {
  margin-left: 10px;
  margin-right: 10px;
}

.ukom-form__col-2 .ukom-btn,
.ukom-form__col-3 .ukom-btn {
  max-width: none;
  height: 54px;
}

.ukom-form__col-2 {
  width: -webkit-calc(50% - 20px);
  width: calc(50% - 20px);
}

.ukom-form__col-3 {
  width: -webkit-calc(33.33333% - 20px);
  width: calc(33.33333% - 20px);
}

.ukom-video {
  position: relative;
  margin: 40px 0;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.ukom-video iframe,
.ukom-video object,
.ukom-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ukom-images-rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}

.ukom-img-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(25% - 18px);
  -ms-flex: 0 0 calc(25% - 18px);
  flex: 0 0 calc(25% - 18px);
  max-width: -webkit-calc(25% - 18px);
  max-width: calc(25% - 18px);
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 38px;
}

.ukom-img-title {
  margin-top: 14px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.outer-arrows .slick-prev:before,
.outer-arrows .slick-next:before {
  color: #0B2C7C;
}

.ukom-img-wrap {
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border: 1px solid rgba(11, 44, 124, 0.25);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.ukom-tag {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  border: 1px solid #FFC000;
  color: #0B2C7C;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 14px;
  line-height: 16px;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.justify {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
}

.bg-blue {
  background-color: #0B2C7C;
}

.bg-blue .ukom-h3 {
  color: #fff;
}

.bg-l-blue {
  background-color: #C2CADE;
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}

._prod-img img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

._fit {
  position: relative;
}

._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.text-center {
  text-align: center;
}

/*------------END overal page-content styles----------------------*/

/*------------service-slider-------------*/

.service-view {
  margin-bottom: 50px;
}

.service-slider {
  max-width: 100%;
  margin-bottom: 20px;
}

.service-slider .slick-prev,
.service-slider .slick-next {
  width: 50px;
  height: 50px;
}

.service-slider .slick-prev:before,
.service-slider .slick-next:before {
  font-size: 50px;
}

.service-slider .slick-prev {
  left: 25px;
}

.service-slider .slick-next {
  right: 25px;
}

.service-slide {
  height: 0;
  padding-bottom: 65.6%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.service-price {
  font-size: 24px;
  line-height: 28px;
}

.service-price__capt {
  font-size: 14px;
  line-height: 16px;
}

/*------------ENS service-slider-------------*/

/*------------buttons-box-------------*/

.buttons-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8.5px;
  margin-bottom: 14px;
}

.buttons-box .ukom-btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(33.33333% - 17px);
  -ms-flex: 0 0 calc(33.33333% - 17px);
  flex: 0 0 calc(33.33333% - 17px);
  max-width: -webkit-calc(33.33333% - 24px);
  max-width: calc(33.33333% - 24px);
  margin-left: 8.5px;
  margin-right: 8.5px;
  margin-bottom: 10px;
}

.buttons-box--lg {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 47px;
}

.buttons-box--lg .ukom-btn-lg {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(33.33333% - 24px);
  -ms-flex: 0 0 calc(33.33333% - 24px);
  flex: 0 0 calc(33.33333% - 24px);
  max-width: -webkit-calc(33.33333% -2 4px);
  max-width: calc(33.33333% -2 4px);
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 10px;
}

/*------------ENS buttons-box-------------*/

/*------------kinds-slider-----------------*/

.product-kinds-slider .slick-slide {
  margin: 0 6.5px;
}

.product-kinds-slide__img {
  height: 0;
  padding-bottom: 92%;
}

/*------------END kinds-slider-----------------*/

/*------------colors-slider-----------------*/

.product-colors-slider .slick-slide {
  margin: 0 8px;
}

.product-colors-slider .product-colors-slide__img {
  height: 0;
  padding-bottom: 96%;
}

/*------------END colors-slider-----------------*/

/*------------callback-order--------------*/

.order-callback {
  padding: 34px 38px 37px 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.order-callback__title {
  font-size: 24px;
  font-family: "PlayBold", sans-serif;
  line-height: 28px;
}

.order-callback__capt {
  margin-top: 10px;
}

.order-callback__form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 325px;
  -ms-flex: 0 0 325px;
  flex: 0 0 325px;
  max-width: 325px;
  margin-left: 40px;
}

.order-callback__form .ukom-btn {
  height: 54px;
  max-width: none;
}

.order-callback__form .ukom-form__label {
  margin-bottom: 12px;
}

/*------------END callback-order--------------*/

/*-----------------_product-kinds--------------------*/

.product-kinds {
  background-color: #C2CADE;
}

.product-kinds__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -17.5px;
  margin-right: -17.5px;
}

.product-kinds__img {
  padding-bottom: 45%;
}

.product-kinds__img,
.product-kinds__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  margin-left: 17.5px;
  margin-right: 17.5px;
  max-width: 50%;
}

.product-kinds__img p,
.product-kinds__text p {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 140%;
}

.product-kinds__img .ukom-btn,
.product-kinds__text .ukom-btn {
  margin-bottom: 16px;
}

.product-kinds__img .ukom-btn:last-child,
.product-kinds__text .ukom-btn:last-child {
  margin-bottom: 0;
}

.product-kinds__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-family: "PlayBold", sans-serif;
  line-height: 28px;
}

/*-----------------END _product-kinds--------------------*/

/*-----------------sidebar-------------*/

.ukom-page-sidebar {
  will-change: min-height;
}

.ukom-page-sidebar.is-affixed {
  padding-top: 0;
}

.ukom-page-sidebar__inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  /* For browsers don't support translate3d. */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.ukom-options {
  margin-bottom: 55px;
}

.ukom-options__header {
  padding: 11px 15px 14px 27px;
  margin-bottom: 17px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ukom-options__list {
  padding-left: 27px;
  margin-bottom: 17px;
}

.ukom-options__item {
  list-style-type: none;
}

.ukom-options__link {
  color: #000;
  font-size: 18px;
  line-height: 140%;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.ukom-options__link:hover,
.ukom-options__link:active,
.ukom-options__link:focus {
  color: #FFC000;
}

.ukom-action {
  padding-left: 27px;
}

.ukom-action__top {
  margin-bottom: 5px;
  font-size: 14px;
}

.ukom-action__date {
  color: #FFC000;
}

.ukom-action__title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 28px;
  font-family: "PlayBold", sans-serif;
  color: #0B2C7C;
}

.ukom-action__body {
  min-height: 57px;
  overflow: hidden;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  text-decoration: none;
  color: #FFC000;
  font-size: 14px;
  line-height: 27px;
}

.read-more:hover,
.read-more:active,
.read-more:focus {
  color: #000;
}

/*-----------------END sidebar-------------*/

/*# sourceMappingURL=maps/main.css.map */

@media only screen and (min-width: 991px) {
  .ukom-btn {
    cursor: pointer;
  }

  .ukom-tag:hover,
  .ukom-tag:active,
  .ukom-tag:focus {
    color: #000;
    background-color: #FFC000;
  }
}

@media only screen and (max-width: 1199px) {
  .slider-in-content .slick-prev {
    left: 0;
  }

  .slider-in-content .slick-next {
    right: 0;
  }

  .slider-in-content {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .ukom-img-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(33.33333% - 18px);
    -ms-flex: 0 0 calc(33.33333% - 18px);
    flex: 0 0 calc(33.33333% - 18px);
    max-width: -webkit-calc(33.33333% - 18px);
    max-width: calc(33.33333% - 18px);
  }

  .order-callback {
    display: block;
  }

  .order-callback__form {
    margin-left: 0;
    max-width: none;
  }

  .product-kinds__content {
    display: block;
  }

  .product-kinds__img {
    margin-bottom: 30px;
  }

  .product-kinds__img,
  .product-kinds__text {
    max-width: none;
  }
}

@media only screen and (max-width: 991px) {
  .ukom-form__col-3 {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }

  .ukom-img-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(25% - 18px);
    -ms-flex: 0 0 calc(25% - 18px);
    flex: 0 0 calc(25% - 18px);
    max-width: -webkit-calc(25% - 18px);
    max-width: calc(25% - 18px);
  }

  .buttons-box--lg .ukom-btn-lg {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 324px;
  }

  .order-callback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .order-callback__form {
    margin-left: 40px;
    max-width: 325px;
  }

  .product-kinds__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .product-kinds__img {
    margin-bottom: 0;
  }

  .ukom-page-sidebar {
    display: none;
  }

  .ukom-options {
    margin-bottom: 25px;
  }

  .ukom-action__body {
    min-height: 1px;
    -webkit-line-clamp: initial;
  }
}

@media only screen and (max-width: 767px) {
  .ukom-h1 {
    font-size: 36px;
  }

  .ukom-h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .ukom-h3 {
    font-size: 20px;
  }

  .ukom-invert-block {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ukom-btn {
    font-size: 16px;
  }

  .ukom-btn-lg {
    font-size: 20px;
  }

  .ukom-form__row {
    margin-bottom: 0;
  }

  .ukom-form__row {
    margin-left: 0;
    margin-right: 0;
  }

  .ukom-form__col-2,
  .ukom-form__col-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .ukom-form__col-2 {
    width: 100%;
  }

  .ukom-form__col-3 {
    width: 100%;
  }

  .ukom-img-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(33.33333% - 18px);
    -ms-flex: 0 0 calc(33.33333% - 18px);
    flex: 0 0 calc(33.33333% - 18px);
    max-width: -webkit-calc(33.33333% - 18px);
    max-width: calc(33.33333% - 18px);
  }

  .buttons-box .ukom-btn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 253px;
  }

  .order-callback {
    display: block;
  }

  .order-callback__form {
    margin-left: 0;
    max-width: none;
  }
}

@media only screen and (max-width: 700px) {
  .product-kinds__content {
    display: block;
  }

  .product-kinds__img {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    padding: 0 10px;
  }

  .ucom-content-block {
    margin: 30px 0;
  }

  .ukom-btn {
    max-width: none;
  }

  .ukom-btn-lg {
    max-width: none;
  }

  .ukom-img-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(50% - 18px);
    -ms-flex: 0 0 calc(50% - 18px);
    flex: 0 0 calc(50% - 18px);
    max-width: -webkit-calc(50% - 18px);
    max-width: calc(50% - 18px);
  }

  .buttons-box .ukom-btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: none;
  }

  .buttons-box--lg .ukom-btn-lg {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: none;
  }

  .product-kinds__img .ukom-btn,
  .product-kinds__text .ukom-btn {
    max-width: none;
  }

  .ukom-options__list {
    padding-left: 15px;
  }

  .ukom-action {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .ukom-h1 {
    font-size: 30px;
  }

  .ukom-tag {
    padding: 0 15px;
  }

  .order-callback {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .ukom-images-rows {
    margin-left: 0;
    margin-right: 0;
  }

  .ukom-img-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}